html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #f6f6f6!important;
}

.flex-container{
    display:flex;
}
/*.main-nav{*/
/*    position: fixed;*/
/*    background-color: #ffffff;*/
/*    height: 50px;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    z-index:  1;*/
/*    !*margin-bottom: 50px;*!*/
/*}*/
/*.main-nav-item{*/
/*    margin-left: 85%;*/
/*}*/
/*.main-nav-item a{*/
/*    margin: 12px 15px 0 15px;*/
/*    color: grey;*/
/*    font-size: 18px;*/
/*    !*font-weight: lighter;*!*/
/*}*/
/*.main-nav-item a:hover{*/
/*    color: #1953F3;*/
/*}*/
.card-header{
    background-color: #312D48!important;
    color: #ffffff;
    /*#D6EAF0!important;*/
}
.card-header a{
    color: #ffffff;
}
.card-header a:hover{
    color: lightslategrey;
}
.btn-primary{
    background-color: #312D48!important;
}
.table-hover tbody tr:hover{
    /*background-color: #D6EAF0!important;*/
}
.table th{
    font-size: 0.95rem;
}
.table td{
    font-size: 0.9rem;
}
/*.logo-background{*/
/*    margin-bottom: 5px;*/
/*    border-bottom: 1px solid #ffffff;*/
/*    background-color: #f6f6f6;*/
/*    height: 50px!important;*/
/*    width: 250px!important;*/
/*}*/
/*.logo{*/
/*    margin-left: 22%;*/
/*    height: 45px;*/
/*    width: 50%;*/
/*}*/

/*.sidenav {*/

/*    height: 100%; !* 100% Full-height *!*/
/*    width: 250px; !* 0 width - change this with JavaScript *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 0; !* Stay at the top *!*/
/*    left: 0;*/
/*    box-shadow: grey 5px 5px 18px;*/
/*    background-color: #1953F3;*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    transition: 0.5s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/
/*.sidenav a, .dropdown-btn {*/
/*    padding: 10px 0 10px 25px;*/
/*    text-decoration: none;*/
/*    font-size: 1.1rem;*/
/*    color: #ffffff;*/
/*    display: block;*/
/*    border: none;*/
/*    background: none;*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*}*/
/*.active-nav, .sidenav a:hover, .dropdown-btn:hover {*/
/*    !*border-radius: 20px!important;*!*/
/*    color: #ffffff!important;*/
/*    background-color: #BF0000!important;*/
/*}*/
/*.sidenav ul li{*/
/*    list-style-type: none;*/
/*}*/

.content{
    /*margin-left: 12.5%;*/
    /*padding-right:10%;*/
    /*margin-top: 60px;*/
    width: 77%;
}
.bg-img {
    background-image: url("/images/bg2.jpg");
    height: 150vh;
    width: 100%;
    top: 0;
    bottom: 0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    justify-content: right!important;
}
.f-right{
    float: right!important;
}

.center{
    justify-content: center;
}

.small-text{
    font-size: 0.9rem;
}

.main-btn{
    border-radius: 0!important;
    border-color: transparent!important;
    background-color: #BF0000!important;
    width: 150px;
    margin: 20px;
}
.main-btn:hover{
    background-color: #1953F3!important;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.space{
    margin-bottom: 20px;
}

.tool-tip {
    position: relative!important;
    display: inline-block!important;
    /*border-bottom: 1px dotted black!important;*/
}

.tool-tip .tooltip-text {
    visibility: hidden!important;
    width: 100px!important;
    background-color: #1953F3!important;
    color: #fff!important;
    font-size: small;
    text-align: center!important;
    border-radius: 6px!important;
    padding: 5px 0!important;
    position: absolute!important;
    z-index: 1!important;
    top: 150%!important;
    left: 50%!important;
    margin-left: -60px!important;
}

.tool-tip .tooltip-text::after {
    content: ""!important;
    position: absolute!important;
    bottom: 100%!important;
    left: 50%!important;
    margin-left: -5px!important;
    border-width: 5px!important;
    border-style: solid!important;
    border-color: transparent transparent #1953F3 transparent!important;
}

.tool-tip:hover .tooltip-text {
    visibility: visible!important;
}

.card-footer{
    /*padding: 20!important;*/
    border-radius: 0!important;
    margin: 0 -10px -10px -10px!important;
}
.d-text{
    font-size: 13px;
}
.d-text2{
    color: #ae0818;
}

.client-card{
    width: 16rem;
}
.client-card:before {
    position: absolute;
    left:0;
    margin: -20px 0 0 20px;
    width:70px;
    height:70px;
    box-shadow: -3px 7px 10px  #888888;
    background-color: #EA4541!important;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-family: "FontAwesome";
    content: "\f200";
}
.loan-card{
    width: 16rem;
}
.loan-card:before {
    position: absolute;
    left:0;
    margin: -20px 0 0 20px;
    width:70px;
    height:70px;
    box-shadow: -3px 7px 10px  #888888;
    background-color: #60B664!important;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-family: "FontAwesome";
    content: "\f200";
}
.c-card{
    width: 16rem;
}
.c-card:before {
    position: absolute;
    left:0;
    margin: -20px 0 0 20px;
    width:70px;
    height:70px;
    box-shadow: -3px 7px 10px  #888888;
    background-color: #FD960E!important;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    font-family: "FontAwesome";
    content: "\f200";
}
.p-card{
    width: 16rem;
}
.p-card:before {
    position: absolute;
    left:0;
    margin: -20px 0 0 20px;
    width:70px;
    height:70px;
    box-shadow: -3px 7px 10px  #888888;
    background-color: #c50dfd!important;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    font-family: "FontAwesome";
    content: "\f200";
}

.c-card,.client-card,.loan-card,.p-card, card{
    border-radius: 0!important;
    padding: 10px;
}
.underlined{
    border-bottom: 1px solid black;
}
/*.d-card,  card-title{*/
/*    float: right;*/
/*}*/
.ovcolor{
    /*position:fixed;*/
    z-index:1;
    width:100%;
    height:500px;
    /*margin:50px auto;*/
    /*border:4px solid rgb(50,50,50);*/
    /*border-bottom: 5px solid black;*/
}

.ovcolor:before{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:30%;
    height:100%;
    content:"";
    background-color:black;
    background-image: url("/images/malorry2.png");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    margin: 0 0 0 30px;
}
.client_form_control{
    padding: 5px 5px 5px 5px!important;
}
/*zoom images css*/
* {box-sizing: border-box;}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}
