html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    background-color: #f6f6f6!important;
}

.flex-container{
    display:flex;
}
.card-header{
    background-color: #312D48!important;
    color: #ffffff;
    /*#D6EAF0!important;*/
}
.card-header a{
    color: #ffffff;
}
.card-header a:hover{
    color: lightslategrey;
}
.btn-primary{
    background-color: #312D48!important;
}
.table-hover tbody tr:hover{
    /*background-color: #D6EAF0!important;*/
}
.table th{
    font-size: 0.95rem;
}
.table td{
    font-size: 0.9rem;
}

.content{
    width: 77%;
}
.bg-img {
    background-image: url("/images/bg2.jpg");
    height: 150vh;
    width: 100%;
    top: 0;
    /*bottom: 0;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    justify-content: right!important;
}
.f-right{
    float: right!important;
}

.center{
    justify-content: center;
}

.small-text{
    font-size: 0.9rem;
}

.main-btn{
    border-radius: 0!important;
    border-color: transparent!important;
    background-color: #BF0000!important;
    width: 150px;
    margin: 20px;
}
.main-btn:hover{
    background-color: #1953F3!important;
}

.card-footer{
    /*padding: 20!important;*/
    border-radius: 0!important;
    margin: 0 -10px -10px -10px!important;
}
